*.onnx
venv
compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
build/  
*.log
*.avi
ObjectDetection
.DS_Store
.vscode/
onnxruntime/
onnx
src/.DS_Store
*.xml
.idea/
*.mp4
*.ninja*